@import '~/assets/css/main.scss';
.prev-slide{
  background: url(../../assets/images/icon-prev.png) no-repeat scroll -14px 0px;
  left: -10px;
}
.next-slide{
  background: url(../../assets/images/icon-next.png) no-repeat scroll -18px 0px;
  right: -10px;
}

@media (min-width: 768px) {
  .best-product {
    .title-best-product {
      font-size: 26px;
    }

    #BestProduct {
      .nav-btn{
        height: 47px;
        position: absolute;
        width: 30px;
        cursor: pointer;
        top: 150px !important;
      }
      
      .owl-prev.disabled,
      .owl-next.disabled{
      pointer-events: none;
      opacity: 0.2;
      }
      
      .prev-slide{
        background: url(../../assets/images/icon-prev.png) no-repeat scroll -14px 0px;
        left: -10px;
      }
      .next-slide{
        background: url(../../assets/images/icon-next.png) no-repeat scroll -18px 0px;
        right: -10px;
      }
    }

    .best-product-title {
      margin: 15px 0px;
    }

    .best-product-description {
      font-weight: 900;
      margin: 15px 0px;
    }
  }
}
