$primaryColor: rgb(157,145,207);
$primaryColor2: rgb(185,175,228);
$secondaryColor: rgb(197,232,108);
$textPrimaryColor: rgb(16,24,32);
$textActiveColor :rgb(178,212,94);
$textNoActiveColor :rgb(155,155,155);
$textPriceColor:rgb(208,2,27); 
$textWhite : rgb(255,255,255);
$culturedColor: rgb(248,248,248);


$text-xs: 8px;
$text-sm: 10px;
$text-base: 12px;
$text-lg: 14px;
$text-xl: 16px;

$smartphone320: 320px;
$smartphone360: 360px;
$smartphone375: 375px;
$smartphone414: 414px;
